body {
  margin: 0 auto; }

body, html {
  overflow-x: hidden;
  overflow-y: auto; }

body {
  min-height: 2000px; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

ul, li, div, article, nav, header, section {
  box-sizing: border-box; }

.transition {
  transition: 0.5s; }

h1 {
  font-family: "Karla", sans-serif;
  color: #3c4755;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase; }

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #3a3345; }

div, article {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: auto; }

header img {
  width: 100%;
  z-index: -1;
  margin-top: -60px; }
header nav {
  background-color: transparent; }

.bio {
  padding: 80px 0;
  background: #262524;
  color: white; }
  .bio h1 {
    background-color: #dd3154;
    margin-bottom: 20px;
    color: #262524;
    display: inline-block;
    padding: 0 10px;
    letter-spacing: -2px; }
  .bio p {
    font-size: 13px;
    line-height: 25px; }
  .bio .bio-panel {
    width: 33.3%;
    padding: 20px;
    display: inline-block; }

.gallery {
  padding: 80px 0;
  background: #3a3345; }
  .gallery h1 {
    color: #dd3154;
    margin-bottom: 20px;
    background: #262524;
    display: inline-block;
    padding: 0 10px;
    letter-spacing: -2px; }
  .gallery .canvas {
    background: #404241;
    margin-bottom: 30px; }
    .gallery .canvas .nombre {
      padding: 10px; }
    .gallery .canvas h2 {
      font-size: 26px;
      letter-spacing: -1px;
      text-transform: initial;
      color: white;
      margin: 10px 0; }
    .gallery .canvas p {
      margin-top: 5px;
      font-size: 13px;
      line-height: 17px;
      color: white; }
      .gallery .canvas p strong {
        color: #333;
        background: rgba(255, 255, 255, 0.5);
        padding: 0 5px;
        margin-right: 5px; }

.view-more {
  display: flex;
  align-items: center;
  justify-content: center; }
  .view-more .link-flickr {
    max-width: 50%; }
    .view-more .link-flickr a {
      color: white;
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-size: 1.2em; }
      .view-more .link-flickr a:hover {
        color: #d00355; }

.taller {
  padding: 80px 0;
  background: #df133f;
  color: white;
  font-size: 24px; }

.contacto {
  padding-bottom: 80px;
  background: #262524; }
  .contacto h1 {
    text-align: center;
    margin-bottom: 40px; }
  .contacto input {
    background: #3c4755;
    border: none;
    color: white;
    border-radius: 0; }
  .contacto .map {
    margin-bottom: 80px; }
  .contacto label {
    margin-bottom: 10px;
    color: white; }
  .contacto textarea {
    border-radius: 0;
    height: 113px;
    margin-bottom: 46px;
    background: #3c4755;
    border: none;
    color: white; }
  .contacto .btn-default {
    border-radius: 0;
    border: none;
    background: #DD3154;
    color: white; }

.scrolloff {
  pointer-events: none; }

.menu {
  margin-right: 50px;
  list-style: none;
  padding: 0;
  display: flex;
  display: fixed;
  align-items: center;
  justify-content: center; }
  .menu a {
    position: relative;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: #fff; }
    .menu a:hover {
      color: #d00355; }

@media all and (max-width: 800px) {
  .menu {
    flex-grow: 1;
    justify-content: space-between; } }
@media all and (max-width: 600px) {
  header img {
    margin-top: 0; }

  .menu {
    display: none; } }
.exhibitions {
  padding: 80px 0;
  background: #262524;
  color: white; }
  .exhibitions h1 {
    background-color: #dd3154;
    margin-bottom: 20px;
    color: #262524;
    display: inline-block;
    padding: 0 10px;
    letter-spacing: -2px; }
  .exhibitions article h1 {
    background: #262524;
    color: #df133f;
    font-size: 1.4em; }
  .exhibitions article a {
    text-decoration: none;
    margin-left: 40px; }
  .exhibitions article p {
    margin-left: 40px; }

.footer {
  width: 100%;
  margin: auto;
  color: white;
  list-style: none;
  text-decoration: none;
  background: #262524; }
  .footer ul {
    list-style: none;
    padding: 0;
    margin: auto;
    display: inline-block; }
    .footer ul li {
      padding-bottom: 40px;
      display: inline-block;
      margin-right: 30px; }
      .footer ul li span {
        margin-right: 10px; }
      .footer ul li i {
        color: white;
        font-size: 30px;
        display: inline-block;
        height: 10px;
        width: 10px;
        text-align: center;
        padding-top: 10px; }
        .footer ul li i:hover {
          color: #d00355; }

.hide {
  display: none; }

.more {
  cursor: pointer;
  text-decoration: none; }
  .more:hover {
    color: #d00355;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
