html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  overflow-x: hidden; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

ul, li, div, article, nav, header, section {
  box-sizing: border-box; }

.transition, nav ul li a, nav ul li a:hover {
  transition: 0.5s; }

h1 {
  font-family: "Karla", sans-serif;
  color: #3c4755;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase; }

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #3a3345; }

div, article {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: auto; }

html, body {
  height: 100%; }

header {
  height: 100%;
  background: url("../img/back.jpg");
  background-size: cover;
  background-position-y: -200px; }

nav {
  top: 70%;
  transform: translateY(-30%);
  position: relative; }
  nav ul {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white; }
    nav ul li {
      display: inline-block;
      margin: 0 10px; }
      nav ul li:first-child {
        display: block;
        bottom: 20px;
        position: relative; }
      nav ul li a {
        text-decoration: none;
        font-family: "Karla", sans-serif;
        color: white;
        text-transform: uppercase;
        padding: 0 5px;
        text-shadow: 0 0 3px black; }
        nav ul li a:hover {
          color: #df133f; }

.bio {
  padding: 80px 0;
  background: #262524;
  color: white; }
  .bio h1 {
    background-color: #dd3154;
    margin-bottom: 20px;
    color: #262524;
    display: inline-block;
    padding: 0 10px;
    letter-spacing: -2px; }
  .bio p {
    font-size: 13px;
    line-height: 25px; }
  .bio .bio-panel {
    width: 33.3%;
    padding: 20px;
    display: inline-block; }

.gallery {
  padding: 80px 0;
  background: #3a3345; }
  .gallery h1 {
    color: #dd3154;
    margin-bottom: 20px;
    background: #262524;
    display: inline-block;
    padding: 0 10px;
    letter-spacing: -2px; }
  .gallery .canvas {
    background: #404241;
    margin-bottom: 30px; }
    .gallery .canvas .nombre {
      padding: 10px; }
    .gallery .canvas h2 {
      font-size: 26px;
      letter-spacing: -1px;
      text-transform: initial;
      color: white;
      margin: 10px 0; }
    .gallery .canvas p {
      margin-top: 5px;
      font-size: 13px;
      line-height: 17px;
      color: white; }
      .gallery .canvas p strong {
        color: #333;
        background: rgba(255, 255, 255, 0.5);
        padding: 0 5px;
        margin-right: 5px; }

.taller {
  padding: 80px 0;
  background: #df133f;
  color: white; }

.contacto {
  padding-bottom: 80px;
  background: #262524; }
  .contacto h1 {
    text-align: center;
    margin-bottom: 40px; }
  .contacto input {
    background: #3c4755;
    border: none;
    color: white; }
  .contacto .map {
    margin-bottom: 80px; }
  .contacto label {
    margin-bottom: 10px;
    color: white; }
  .contacto textarea {
    height: 109px;
    margin-bottom: 43px;
    background: #3c4755;
    border: none;
    color: white; }
  .contacto .btn-default {
    border: none;
    background: #DD3154;
    color: white; }

.scrolloff {
  pointer-events: none; }

/*# sourceMappingURL=style.css.map */
