// $scroll-factor : .5;

$main-font: 'Source Sans Pro', sans-serif;
$second-font: 'Karla', sans-serif;
$title-font: 'Crimson Text', serif;

$main-color:#df133f;
$gris: #3c4755; 

body {
	margin: 0 auto;
}

body, html {
	overflow-x: hidden; 
	overflow-y: auto;
}

body {
  min-height: 2000px;
}

html {
  font-size: 100%; 
  // overflow-y: scroll; 
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust: 100%;
}

ul,li,div,article,nav,header,section{
	//border: 1px solid cyan;
	box-sizing:border-box;
}

.transition{
	transition:0.5s;
}

h1{
	font-family: $second-font;
	color: $gris;
	font-weight:400;
	font-size:40px;
	text-transform:uppercase;
}

body{
	font-family:$main-font;
	background:#3a3345;
}

div,article{
	box-sizing:border-box;
}

.container{
	max-width:1200px;
	margin:auto;
}

header{
// 	border: 1px solid yellow;
	height: 768px;
	background:url("../img/back.jpg");
	background-size: cover;

//     border: 1px solid cyan;
//     .container{
    	// margin-top: 200px;
    	width: 100%;
//     	height: 200px;
//     	border: 1px solid cyan;
//     }
}

// header {
// 	width: 100%;
// 	height: 100%;

// 	background: url("../img/back.jpg") no-repeat center center;
	
// 	background-size: cover;
//   	// background-position: center center;

//     // background-position-y: -200px;
    
//     padding-bottom: 100%;
//     -webkit-background-size: cover;
//   	-moz-background-size: cover;
//   	-o-background-size: cover;
  	
 
// 	.container{

//     }

// }

.bio{
	padding:80px 0;
	background: #262524;
	color: white;

	h1{
		background-color: #dd3154;
		margin-bottom: 20px;
		color: #262524;
		display: inline-block;
		padding: 0 10px;
		letter-spacing: -2px;
	}

	p{
		font-size: 13px;
		line-height: 25px;
	}
	.bio-panel{
		width: 33.3%;
		padding:20px;
		display: inline-block;
	}
}

.gallery{
	padding: 80px 0;
	background:#3a3345; 
	h1{	
		color: #dd3154;
		margin-bottom: 20px;
		background: #262524;
		display: inline-block;
		padding: 0 10px;
		letter-spacing: -2px;
	}

	.canvas{
		background: #404241;
		margin-bottom: 30px;
		
		.nombre{
			padding: 10px;
		}

		h2{
			font-size: 26px;
    		letter-spacing: -1px;
    		text-transform: initial;
    		color: white;
    		margin: 10px 0;
		}


		p{
			margin-top: 5px;
    		font-size: 13px;
    		line-height: 17px;
    		color: white;
    		strong{
    			color: #333;
    			background: rgba(255,255,255,0.5);
    			padding: 0 5px;
    			margin-right: 5px;
    		}
		}  
	}

}

.view-more {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	.link-flickr {
		// border: 1px solid black;
		max-width: 50%;
		a {
			color: white;
			display: inline-block;
			text-decoration: none;
			color: #fff;
			font-size: 1.2em;

			&:hover {
				color: #d00355;
				// color: rgba(255,255,255,0.7);
			}
		}

	}
}


.taller{
	padding: 80px 0;
	background:#df133f;
	color:white;
}

.contacto{
	padding-bottom: 80px;

	h1{
		text-align: center;
		margin-bottom: 40px;
	}

	background:#262524;

	input{
		background: #3c4755;
		border: none;
		color: white;
		border-radius: 0;
	}

	.map{
		margin-bottom: 80px;
	}

	label{
		margin-bottom: 10px;
		color: white;
	}

	textarea{
		border-radius: 0;
		height: 113px;
    	margin-bottom: 46px;
    	background: #3c4755;
		border:none;
		color: white;
	}

	.btn-default{
		border-radius: 0;
		border: none;
		background: #DD3154;
		color: white;
	}
}

.scrolloff {
    pointer-events: none;
}

header {
	
	
}

// .nav-menu {
// 	width: 50%;
// 	display: flex;
  	// align-items: center;
  	// justify-content: center;
  	// padding-top: 400px;
		// border: 1px solid black;
		// border-bottom: 1px solid white;
// }

.menu {
	margin-right: 50px;
	display: flex;
	list-style: none;
	justify-content: flex-end;
	// background: steelblue;
	padding: 0;
	// position: fixed;
	// z-index: 99;	

	a {
		position: relative;
		display: inline-block;
		padding: 1em;
		text-decoration: none;
		color: #fff;

		&:hover {
			color: #d00355;
			// color: rgba(255,255,255,0.7);
		}
	}
}

@media all and (max-width: 800px) {
	.menu {
		flex-grow: 1;
		justify-content: space-between;
	}
}

@media all and (max-width: 600px) {
	.menu {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}

.exhibitions{
	padding: 80px 0;
	background:#262524;
	color: white;
	h1 {
		background-color: #dd3154;
	    margin-bottom: 20px;
	    color: #262524;
	    display: inline-block;
	    padding: 0 10px;
	    letter-spacing: -2px;
	}

	article {
		h1 {
			background: #262524;
			color: #df133f;
				// background: darken(steelblue,5%);
			font-size: 1.4em;
		}
		a {
			text-decoration: none;
			margin-left: 40px;
		}

		p {
			margin-left: 40px;	
		}
	}
}

// #toggle-menu {
// 	background: darken(steelblue,5%);
// 	line-height: 2.5;
// 	color: #fff;
// 	padding-left: 1em;
// 	font-size: .9em;
// 	cursor: pointer;
// }

footer {
	display: flex;
  	align-items: center;
  	justify-content: center;

	background: #262524;
	
	.div-footer {
		margin-left: 40px;
		padding-bottom: 30px;
	}

    a {
    	color: white;
		text-decoration: none;

    	display: inline-block;
    	padding: 20px;

    	&:hover {
    		color: #d00355;
    	}
    }
}

.back {
	// position: fixed;
 //    left: 50%;
 //    -webkit-transform: translateX(-50%);
 //    -ms-transform: translateX(-50%);
 //    transform: translateX(-50%);
 //    height: 780px;
 //    width: auto;
    // z-index: -1;
}
